.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background-color: #F3EBF6;
  font-family: 'Ubuntu', sans-serif;
  background-image: url('https://res.cloudinary.com/babadee30/image/upload/v1580670386/ami/download.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}
.col-centered {
  background-color: rgba(0, 0, 0, 0.3);
  margin: 6px;
  border-radius: 10px;
  display: inline-block;
  float: none;
  top: 246px;
  color: white;
}
.homebtn {
  color: white
}