table {
    // width: 100%;
    background-color: white !important;
}
tbody + thead{
    display: none;
  }

.spacing {
    margin: 50px;
}

.data-title {
    color: white;
    font-size: larger;
}
.search {
    margin-bottom: 20px;
    text-align: center;
}
.buttonSearch{
    margin-left: 2%;
    color: #2775bf;
}
.successMessage{
    color: green;
}
.table {
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
}
.searchfield {
    width: 100px !important;
}
.deletebtn{
    margin-left: 7px;
}
.head-group {
    width: 50%;
    margin: 50px auto;
}

.center-div
{
  margin: 0 auto;
  max-width: 700px;
  height: 100px;
  background-color: #ccc;
  border-radius: 3px;
}
.dataTables_length {
    text-align: center;
    width: 203%;
    color: white;
}