table {
    width: 100%;
    background-color: white !important;
}

.spacing {
    margin: 100px;
}

.data-title {
    margin-left: 50%;
    margin-bottom: 40px;
    color: white;
    font-size: larger;
}
.search {
    margin-left: 45%;
    margin-bottom: 20px;
}
button{
    margin-left: 5px;
    color: #2775bf;
}
.successMessage{
    color: green;
}
.addbtn {
    margin-left: 50%;
    margin-bottom: 20px;
}